@import "../style-components.scss"; 

.login{
    width: 100%;
    padding: 5% 10%;
    height: 60vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F8F6F3;
    h1{
        font-family: $ff-Open-Sans;  
        color: #6a9739;
    }
    form{
        width: 100%;
        height: 100%;
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        input{ 
                width: 35%;
                padding: 15px ; 
                border: 1px solid lightgray;
                border-radius: 5px;  
            &:focus{ 
                outline: unset;
            }
        } 
        button{
            padding: 15px 25px;
        }
    }
}