// !       Font Family Important
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans&family=Roboto:ital,wght@1,700&display=swap');


// ?       Font Family 
$ff-Merriweather:'Merriweather', serif;
$ff-Open-Sans: 'Open Sans', sans-serif;;


//         Color
$light-gray:#F8F6F3;
$light-green: #6a9739;
